*{
  padding:0;
  margin:0;
  display:border-box;
/*   font-family: "Helvetica Neue", Helvetica, Arial, "Apple LiGothic", 微軟正黑體, "Microsoft JhengHei", sans-serif; */
  font-family:微軟正黑體
}
body{
  background-color:#B1D5D7;
  padding:50px;
}
.content{
  position: relative;
  border:solid #3C474B 5px;
  padding:40px;
}
h1{
  color:#fff;
  font-size:50px;
  font-weight:200;
  text-align: center;
  margin-top:5px;
  margin-left:5px;
}
.title_main{
  margin-top:-70px;
  margin-left:-5px;
  color:#3C474B;
}
.title_type2_shadow,.title_type2_main{
  display:none;
}
.title_type1_shadow,.title_type1_main{
  display:block;
}
a{
  text-decoration: none;
  color:#3C474B;
}
a h4{
  font-weight: 500;
}
hr{
  width:300px;
  border:none;
  border-bottom:3px solid #3C474B;
  margin:10px auto 10px;
}
@media screen and (max-width: 768px){
  .title_type2_main,.title_type2_shadow{
    display:block;
  }
  .title_type1_main,.title_type1_shadow{
    display:none;
  }
  hr{
    width:150px;
  }
}
@media screen and (max-width: 340px){
  h1{
    font-size:40px;
    font-weight:300;
  }
  hr{
    width:120px;
  }
  .title_main{
    margin-top:-60px;
    margin-left:-2.5px;
    color:#3C474B;
  }
}
.info_container{
  position: absolute;
  text-align: right;
  top:50px;
  right:40px;
  color:#3C474B;
}
.codepen_container,.github_container{
  /* border:2px solid #fff; */
  display: flex;
  justify-content: flex-end;
  align-items:center;
  margin-bottom: 2px;
}

.icon_codepen,.icon_github{
  width: 20px;
  margin-right: 5px;
}
@media screen and (max-width: 768px){
  body{
    padding:25px;
  }
  .info_container{
    position: static;
    text-align: center;
    margin-top: 20px;
  }
  .codepen_container,.github_container{
    justify-content: center;
  }
}
@media screen and (min-width: 769px){
  .info_container{
    margin-top: -20px;
  }
}
.work_container{
  display:flex;
  justify-content: space-around;
  flex-wrap:wrap;
}
.work{
  border:1px solid #fff;
  width:350px;
  height: auto;
  border-radius: 2%;
  margin:25px 5px;
  background-color: rgba(255,255,255, 0.8);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  padding:5px;
  color:rgb(50, 57, 59);
}
.img_work{
  margin:0 auto;
  width:100%;
  height: auto;
  max-height: 230px;
  transform-origin: 50% 50%;
  transition-duration: 0.5s;
  border-radius: 2%;
}
.img_work:hover{
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}
.video-wrapper{
  position: relative;
  padding-bottom: 65.72%;  
  overflow: hidden;
}
.video-wrapper iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}
.work h3{
  margin:2px 0;
  padding-left:10px;
}
.work ul{
  /* border:#000 solid 1px; */
  padding-left:50px;
  padding-right: 10px;
}
@media screen and (max-width: 400px){
  .work h3{
    /* border:#000 solid 1px; */
    text-align: center;
    padding-left:0px;
  }
  .work ul{
    /* border:#000 solid 1px; */
    padding-left:25px;
  }
}
.headline{
  background-color:rgb(48, 56, 59);
  color:#fff;
  width: 200px;
  height:auto;
  border: #3C474B solid 2px;
  text-align: center;
  padding:5px 5px;
  margin:30px auto 5px;
}
@media screen and (max-width: 768px){
  .headline{
    font-size: 15px;
    width: 160px;
  }
}

span{
  color: rgb(179, 179, 179);
}