*{
  padding:0;
  margin:0;
  display:border-box;
/*   font-family: "Helvetica Neue", Helvetica, Arial, "Apple LiGothic", 微軟正黑體, "Microsoft JhengHei", sans-serif; */
  font-family:微軟正黑體
}
body{
  background-color:#38A1BA;
  padding:50px;
}
.content{
  position: relative;
  border:solid #3C474B 3px;
  padding:40px;
}
h1{
  color:#fff;
  font-size:50px;
  font-weight:200;
  text-align: center;
  margin-top:5px;
  margin-left:5px;
}
a{
  text-decoration: none;
  color:#3C474B;
}
a h4{
  font-weight: 500;
}
.title_main{
  margin-top:-70px;
  margin-left:-5px;
  color:#3C474B;
}
hr{
  width:100%;
  border:none;
  border-bottom:3px solid #3C474B;
  margin:10px auto 10px;
}
@media screen and (max-width: 340px){
  h1{
    font-size:40px;
    font-weight:300;
  }
  .title_main{
    margin-top:-56.5px;
    margin-left:-2.5px;
    color:#3C474B;
  }
}

.info_container{
  position: absolute;
  text-align: right;
  top:45px;
  right:40px;
  color:#3C474B;
}
.codepen_container,.github_container{
  /* border:2px solid #fff; */
  display: flex;
  justify-content: flex-end;
  align-items:center;
  margin-bottom: 2px;
}

.icon_codepen,.icon_github{
  width: 20px;
  margin-right: 5px;
}
@media screen and (max-width: 768px){
  body{
    padding:25px;
  }
  .info_container{
    position: static;
    text-align: center;
    margin-top: 20px;
  }
  .codepen_container,.github_container{
    justify-content: center;
  }
}
@media screen and (min-width: 769px){
  .info_container{
    margin-top: -20px;
  }
}
.work_container{
  display:flex;
  justify-content: space-around;
  flex-wrap:wrap;
}
.work{
  border:1px solid #fff;
  width:350px;
  height: auto;
  border-radius: 2%;
  margin:25px 5px;
  background-color: rgba(255,255,255, 0.8);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  padding:5px;
  color:rgb(50, 57, 59);
}
.img_work{
  margin:0 auto;
  width:100%;
  height: auto;
  max-height: 230px;
  transform-origin: 50% 50%;
  transition-duration: 0.5s;
}
.img_work:hover{
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 10px 30px rgba(50,50,50,0.3);
}
.work h3{
  margin:2px 0;
  padding-left:10px;
}
.work ul{
  /* border:#000 solid 1px; */
  padding-left:50px;
}